@charset "UTF-8";

@media screen and (min-width: 768px){

    #burguer{
         display: block;
    background-color: rgb(48,48,48);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    }

    menu{
        display: block;
    }

    menu li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}